*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Times New Roman', Times, serif;}

body{
    filter: brightness(0.7);
    background-color: darkgrey;
}
.index-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    transition: transform 2s;
    justify-content: center;
    /* text-align: center; */
    background-color:white;
    filter: brightness(0.8);
    /* margin: 4em auto; */
    /* border-radius: 2em; */
     /* width: max-content; */
    border: 1px solid rgb(183, 186, 183);
    text-align: center;
    /* padding: 1em; */
    padding-top: 3em;
    height: 100vh;
}
.index-page{
    transform: translateX(0%);
}
.index1home{
    transform: translateY(100%);
}

    .indexpageimage{
        padding-top: 10em;
    }

.index-page p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    padding-bottom: 12em;
   }

.homepage{
    text-align: center;
    /* margin-top: 1em; */
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.homeimage{
    margin-bottom: 2em;
}
.homeimage p{
 font-family: Georgia, 'Times New Roman', Times, serif;
 letter-spacing: 0.2em;
}
.input{
    border: 2px solid green;
    padding: 0.6em 1em 0.6em 2em;
    font-size: medium;
    border-radius: 10em;
    color: rgb(19, 18, 18);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0.5em;
}
input:hover{
    filter: brightness(0.7);
}
.password{
    border: 1px solid rgb(129, 167, 129);
}
.login{
    border: 1px solid rgb(183, 186, 183);
    padding: 0.4em 3em;
    background-color: green;
    color: white;
    margin: 1em;
    font-size: medium;
    border-radius: 10em;
} 
.button:hover{
    filter: brightness(0.7);
    transform: translateY(3px);

}


.forgotpass{
    text-transform: capitalize;
    font-size: 1.1em;
    margin-bottom: 1em;
}
.hr-container{
    width: 50%;
    /* margin: 0; */
    margin: auto;
    /* padding: 1.5em; */
    text-align: center;
    margin-bottom: 2em;
}
.newaccount{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
}
.signup{
    color: rgb(71, 236, 71);
    margin-left: 0.5em;
}
a{
    text-decoration: none;
    color: rgb(183, 186, 183);
    /* color: white; */
}


/* sign up page css */

.sign-up-page{
    text-align: center;
    margin-top: 3em;
}
.sign-up-page-h1{
    color: rgb(80, 150, 80);
    margin-bottom: 1em;
    
}
.sign-up-g{
    margin: 1em auto;
}


/* resetpage css */
.resetpage{
    justify-content: center;
    text-align: center;
    margin: 4em auto;
    border: 1px solid white;
    width: max-content;
    background-color: rgb(250, 247, 244);
    padding: 1em;
    border-radius: 2em;
    /* width: fit-content; */
    
}
.reseth1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1em;
}
.resetpage p{
    margin-bottom: 1em;
}
.change-email{
    border-bottom: 1px solid green;
    color: green;
}

/* reset form css */
.reset-form{
    margin: 4em auto;
    /* width: 100%; */ 
     width: max-content;
    text-align: center;
    padding: 1em; 
    border-radius: 2em;
    border: 1px solid white;
    padding-top: 5em;
    
    /* height: 100vh; */
 }   
  
   
    

.reset-form-h1{
    margin-bottom: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.resetlogin{
   border-radius: 0.3em;
   border: 1px solid rgb(183, 186, 183);
    padding: 0.4em 3.5em;
    background-color: green;
    color: white;
    margin: 1em;
    font-size: medium;
}

/* forget page css */

.forgetpage{
    margin: 4em auto;
    border-radius: 2em;
     width: max-content;
    border: 1px solid rgb(183, 186, 183);
    text-align: center;
    padding: 0.4em;
    padding-top: 3em;
    background-color: darkgrey;
    
}
.forgetpageh1{
    margin-bottom: 1.7em;
}

/* main page nav css */
.logo{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}
.logoicon{
    position: relative;
    top: 0.6em;
}
.nav-item{
    margin-right: 1em;
    
}
.goout{
    border: 1px solid rgb(183, 186, 183);
    padding: 0.2em 1.5em;
    background-color: green;
    color: white;
    margin: 1em;
    font-size: smaller;
    border-radius: 2em;

}

.container::-webkit-scrollbar{
    display: none;
}
.container{
    height: 40em;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
    /* margin-top: 2em; */
    padding: 2em;
    border-radius: 1em;
    gap: 2em;
}
.main1{
    display: block;
    background-color: rgb(173, 162, 146);
}
.bottomnav{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 20%;
color: aliceblue;
padding: 2em;
}
.top{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    color: brown;
}
.top p{
 padding-top: 0.9em;
}
.carousel-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 2em;
    padding: 2em;
    background-color: antiquewhite; 
    border-radius: 2em;
    gap: 2em;

}
.container-sm{
    display: block;
    /* border: 1px solid greenyellow; */
    width: fit-content;
    margin: 2em auto;
}
 .main-dishes-box{
    display: flex;
    flex-direction: row;
    /* gap: 5.5em; */
    /* line-height: 0.5em; */
}
/* .free{ */
    /* background-color: rgb(191, 60, 60); */
    /* color: white; */
    /* width: fit-content; */
    /* padding:0.4em ; */
    /* margin: 0.4em; */
    /* border-radius: 0.3em; */
/* } */
.main-dishes{
    /* margin: 0.4em; */
   font-size: larger;
   font-weight: bold;
}
.span{
    color: rgb(240, 53, 53);
} 
.bottomnav{
    background-color: green;
    width: 100%;
}


/* Edit page css */
.editpage{
    text-align: center;
    /* background-color: aquamarine; */
    filter: brightness(0.7);
    /* margin-top: 3em; */
}
.editpageh1{
    text-transform: capitalize;
    margin-bottom: 0.2em;
    font-family: 'Times New Roman', Times, serif;
}
.hr{
    border-bottom: 4px solid rgb(159, 141, 141);
    border-radius: 1em;
}
.editimagepage{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}
.editname{
    margin-top: 2em;
    margin-left: 2em;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.editicon{
    margin-top: 2em;
    margin-left: 3em;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.editpageinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0.8em auto; */
}
.inputedit{
    padding: 0.4em 1em;
    border-radius: 1em;
    margin: 1em;
}


@media only screen and (max-width:600px) {
    .editname{
        margin-bottom: 2em;
       font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .editicon{
        margin: 2em;
        align-content: end;
        position: absolute;
       left: 16em;
    }
    .inputedit{
        border-radius: 1em;
        position: relative;
        text-align: center;
        justify-content: center;
        width: 100%;
        /* width: 80%; */
    }
    .editimagepage{
        display: block;
        margin-left: 1em;
        /* flex-direction: row; */
        text-align: center;
        line-height: 0%;
        margin-bottom: 2em;
        justify-content: center;
        /* margin-bottom: 1em; */
    }
    .editimage img{
        margin-bottom: 0;
    }
    .editimage{
        margin-bottom: 0;
    }
    .editpageinput{
        text-align: center;
        justify-content: center;
        display: flex;
        /* margin: 1em; */
        /* width: 80%; */
        flex-direction: row;
        /* justify-content: center; */
        /* margin: auto 0.4em auto 0.4em; */
    }
    .editpage{
      width: 100%;
      height: 100vh;
    }

    .index-div{
        position: absolute;
        /* top: 0;
        left: 0; */
        width: 100%;
        /* display: flex; */
        transition: transform 2s;
        justify-content: center;
        /* text-align: center; */
        background-color:white;
        filter: brightness(0.8);
        /* margin: 4em auto; */
        /* border-radius: 2em; */
         /* width: max-content; */
        border: 1px solid rgb(183, 186, 183);
        text-align: center;
        /* padding: 1em; */
        padding-top: 3em;
        height: 100vh;
    }
    .index-page{
        transform: translateX(0%);
    }
    .index1home{
        transform: translateY(100%);
    }


}
@media only screen and (max-width:600px) {
    .editpage{
      width: 100%;
    } 
}

